{% extends "base.html" %}

{% block content %}

<div class="dashboard-container">
    <div class="dashboard-card">

        <h1>Machine Learning Dashboard</h1>

        <p class="subtitle">
            This platform is designed to explore and understand the fundamentals of Machine Learning through practical and interactive use cases. 
            </p>
            Here, you will find models such as linear and logistic regression applied to real-world scenarios, allowing you to analyze, predict, and make data-driven decisions.
            </p>
            Explore, analyze and apply Machine Learning models in real scenarios.
        </p>

        <div class="features">

            <div class="feature-box">
                <h3>Data Analysis</h3>
                <p>Understand patterns and insights from datasets.</p>
            </div>

            <div class="feature-box">
                <h3> Predictions</h3>
                <p>Use models like Linear and Logistic Regression.</p>
            </div>

            <div class="feature-box">
                <h3>ML Models</h3>
                <p>Explore supervised and unsupervised learning.</p>
            </div>

        </div>

        <div class="welcome-user">
            <p>Welcome {{ user }} </p>
        </div>

    </div>
</div>

{% endblock %}