{% extends "base.html" %}

{% block content %}

<div class="dashboard-container">
    <div class="dashboard-card">
        <h2>Machine Learning Dashboard</h2>
        <p>
            This platform is designed to explore and understand the fundamentals of Machine Learning through practical and interactive use cases.
            Here, you will find models such as linear and logistic regression applied to real-world scenarios, allowing you to analyze, predict,
            and make data-driven decisions.
        </p>

    <p>
Navigate through the different modules to discover how data can be transformed into valuable insights.
        </p>
    </div>
</div>
{% endblock %}
