{% extends "base.html" %}

{% block content %}

<div class="main">

    <div class="card">
        <h2> Medical Diagnosis</h2>

        <div class="section">
            <h4>Problem Description</h4>
            <p>
            Predict whether a patient is at risk of disease using physiological data.
            </p>
        </div>

        <div class="section">
            <h4>Type of Machine Learning</h4>
            <p>Supervised Learning (Classification)</p>
        </div>

        <div class="section">
            <h4>Input Data</h4>
            <ul>
                <li>Age</li>
                <li>Heart rate</li>
                <li>Blood pressure</li>
            </ul>
        </div>

        <div class="section">
            <h4>Expected Output</h4>
            <p>High Risk or Low Risk</p>
        </div>

        <div class="section">
            <h4>Real-world Relevance</h4>
            <p>Used in hospitals to support early diagnosis.</p>
        </div>
    </div>

    <!-- FORMULARIO -->
    <div class="card">
        <h2>Prediction</h2>

        <form action="/predict_health" method="post">
            <input type="text" name="age" placeholder="Age">
            <input type="text" name="heart" placeholder="Heart Rate">
            <input type="text" name="pressure" placeholder="Blood Pressure">

            <button type="submit">Predict</button>
        </form>

        {% if result %}
        <div class="result">
            {{ result }}
        </div>
        {% endif %}
    </div>

</div>
{% endblock %}