{% extends "base.html" %}

{% block content %}

<div class="main">

    <!--  DESCRIPCIÓN -->
    <div class="card">
        <h2>🤖 Intelligent Chatbot</h2>

        <p><b>Problem Description:</b><br>
        The goal is to automatically understand user messages and provide meaningful responses. 
        Traditional systems require human interaction, which increases response time and cost.
        </p>

        <p><b>Type of Machine Learning:</b><br>
        Supervised Learning (Natural Language Processing - Text Classification)
        </p>

        <p><b>Input Data:</b></p>
        <ul>
            <li>User text messages</li>
            <li>Keywords and patterns</li>
        </ul>

        <p><b>Expected Output:</b><br>
        A predicted response based on the user’s intent.
        </p>

        <p><b>Real-world Relevance:</b><br>
        Chatbots are widely used in banking, e-commerce, and customer support 
        to automate responses, reduce costs, and improve user experience.
        </p>
    </div>

    <!-- CHAT -->
    <div class="card">
        <h2>💬 Chatbot</h2>

        <div class="chat-box" id="chatBox"></div>

        <input type="text" id="msg" placeholder="Type a message...">
        <button onclick="sendMessage()">Send</button>
    </div>

</div>


<script>
function sendMessage() {
    let msg = document.getElementById("msg").value;
    let chatBox = document.getElementById("chatBox");

    if (msg === "") return;

    let userDiv = document.createElement("div");
    userDiv.className = "msg user";
    userDiv.innerText = msg;
    chatBox.appendChild(userDiv);

    fetch("/chat", {
        method: "POST",
        headers: {"Content-Type": "application/json"},
        body: JSON.stringify({message: msg})
    })
    .then(res => res.json())
    .then(data => {
        let botDiv = document.createElement("div");
        botDiv.className = "msg bot";
        botDiv.innerText = data.reply;
        chatBox.appendChild(botDiv);

        chatBox.scrollTop = chatBox.scrollHeight;
    });

    document.getElementById("msg").value = "";
}
</script>

{% endblock %}