{% extends "base.html" %}

{% block content %} 

<div class="main">

    <div class="card">
        <h2> Student Performance</h2>

       <p><b>Problem Description:</b><br>
        The goal of this use case is to predict whether a student is likely to pass or fail based on academic behavior and study patterns. 
        Educational institutions often struggle to identify students at risk of failure early enough. 
        This model helps detect low-performance trends and supports timely intervention.
        </p>

        <p><b>Type of Machine Learning:</b><br>
        Supervised Learning (Classification / Regression)<br>
        The system learns from historical student data where performance outcomes are already known.
        </p>


        <p><b>Input Data:</b></p>
        <ul>
        <li>Study hours per day</li>
        <li>Attendance percentage</li>
        <li>Previous grades or GPA</li>
        <li>Number of completed assignments</li>
        </ul>

        <p><b>Expected Output:</b><br>
        A prediction indicating whether the student will <b>Pass</b> or <b>Fail</b>, or a performance level (High / Medium / Low).
        </p>

        <p><b>Real-world Relevance:</b><br>
        This model can be used by schools and universities to monitor student progress and identify those who need academic support. 
        It improves retention rates, enhances learning outcomes, and enables data-driven decision-making in education.
        </p>
        </div>

    <div class="card">
        <h2>Prediction</h2>

        <form action="/predict_student" method="post">
            <input type="text" name="hours" placeholder="Study Hours">
            <input type="text" name="attendance" placeholder="Attendance %">
            <input type="text" name="grades" placeholder="Previous Grade">

            <button type="submit">Predict</button>
        </form>

        {% if result %}
        <div class="result">
            {{ result }}
        </div>
        {% endif %}
    </div>

</div>

{% endblock %}